In [160]:
from pandas import ExcelWriter
from pandas import ExcelFile
from scipy import stats
import pandas as pd # storing and mnipulating the dataset
import matplotlib.pyplot as plt # for data visualization 
import seaborn as sns # for data visualization 
import warnings  
warnings.filterwarnings("ignore") # to not display any warnings generated 
import numpy as np # for array computations
Driver_Total_Senior_Ages_65_69_mean=[]
Driver_Total_Teenager_Age_15_19_mean=[]
Driver_Total_Licensed_In_State_mode=[]
Driver_Total_mode=[]
Vehicle_Performance_High_count=[]
Vehicle_Youthful_Driver_Indicator_Y_count=[]
sys_renewed_n_0_count=[]
sys_renewed_n_1_count=[]
annual_premium_sum=[]
summary=[]
Vehicle_Age_In_Years_mean=[]
Vehicle_New_Cost_Amount_mean=[]
Vehicle_Symbol_mode=[]
#df= pd.read_csv('D:/Big Data/2019_Fall_testing_portfolios/2019_Fall_testing_portfolios/test_portfolio_1.csv') #df_assg1 holds the dataset

In [2]:
# import os,glob
# folder_path = 'D:/Big Data/2019_Fall_testing_portfolios/2019_Fall_testing_portfolios/'
# print(folder_path)
# for filename in glob.glob(os.path.join(folder_path, '*')):
#     p = pd.read_csv(filename)
#     print("Driver_Total_Senior_Ages_65_69:::",p['Driver_Total_Senior_Ages_65_69'].unique())
#     print("Driver_Total_Teenager_Age_15_19:::",p['Driver_Total_Teenager_Age_15_19'].unique())
#     print("Driver_Total_Licensed_In_State:::",p['Driver_Total_Licensed_In_State'].unique())
#     print("Driver_Total:::",p['Driver_Total'].unique())
#     print("Vehicle_Performance:::",p['Vehicle_Performance'].unique())
#     print("Vehicle_Youthful_Driver_Indicator:::",p['Vehicle_Youthful_Driver_Indicator'].unique())
#     print("sys_renewed:::",p['SYS_Renewed'].unique())
   
#     #print(filename)
#X_train=X1_train[['Driver_Total_Senior_Ages_65_69_mean','Driver_Total_Teenager_Age_15_19_mean','Driver_Total_Licensed_In_State_mode_f','Driver_Total_mode_f','Vehicle_Performance_High_count','Vehicle_Youthful_Driver_Indicator_Y_count','sys_renewed_n_0_count','sys_renewed_n_1_count']]

In [169]:
import os,glob
folder_path = 'c:/Users/tv5ra/Downloads/test/'
#print(folder_path)
for filename in glob.glob(os.path.join(folder_path, '*')):
    p = pd.read_csv(filename)
    #print(filename)
    #print(p.shape)
    p = pd.get_dummies(p)
    #print(p.shape)
    Vehicle_Age_In_Years_mean.append(p['Vehicle_Age_In_Years'].mean())
    Vehicle_New_Cost_Amount_mean.append(p['Vehicle_New_Cost_Amount'].mean())
    #Vehicle_Symbol_mode.append(stats.mode(p['Vehicle_Symbol']))
    #Vehicle_Youthful_Driver_Indicator_Y_count.append(p['Vehicle_Youthful_Driver_Indicator_Y'].sum())
    Vehicle_Performance_High_count.append(p['Vehicle_Performance_High'].sum())
    #sys_renewed_n_0_count.append(p['SYS_Renewed_N'].sum())
    sys_renewed_n_1_count.append(p['SYS_Renewed_Y'].sum())
    annual_premium_sum.append(p['Annual_Premium'].sum())

In [170]:
summary=os.listdir('c:/Users/tv5ra/Downloads/test/')

In [101]:
print(filename)

c:/Users/tv5ra/Downloads/test\test_portfolio_9.csv

In [163]:
p.shape

(998, 1026)

In [168]:
Vehicle_Symbol_mode1=[]
Driver_Total_mode_f=[]
i=0
for i in range(330):
          Vehicle_Symbol_mode1.append(Vehicle_Symbol_mode[i][0][0])
          #Driver_Total_mode_f.append(Driver_Total_mode[i][0][0])

IndexError: list index out of range

In [ ]:
Driver_Total_Licensed_In_State_mode_f=[]
Driver_Total_mode_f=[]
i=0
for i in range(330):
          Driver_Total_Licensed_In_State_mode_f.append(Driver_Total_Licensed_In_State_mode[i][0][0])
          Driver_Total_mode_f.append(Driver_Total_mode[i][0][0])

In [171]:
df_summarized = pd.DataFrame(list(zip(Vehicle_Age_In_Years_mean,
Vehicle_New_Cost_Amount_mean,
Vehicle_Performance_High_count,
sys_renewed_n_1_count,annual_premium_sum)), columns =['Vehicle_Age_In_Years_mean',
'Vehicle_New_Cost_Amount_mean',
'Vehicle_Performance_High_count',
'sys_renewed_n_1_count','annual_premium_sum']) 
df_summarized.head()

,Vehicle_Age_In_Years_mean,Vehicle_New_Cost_Amount_mean,Vehicle_Performance_High_count,sys_renewed_n_1_count,annual_premium_sum
0,7.076000,332.022000,9,882,331804.80
1,6.908818,412.844689,8,897,343363.38
2,7.084000,252.009000,11,894,324789.90
3,6.872000,265.029000,12,896,337672.39
4,7.054054,230.246246,11,885,344144.45

In [172]:
X1_train = pd.read_excel('c:/Users/tv5ra/Downloads/final_x_train.xlsx')
X1_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 15 columns):
Unnamed: 0                                   330 non-null int64
Driver_Total_Senior_Ages_65_69_mean          330 non-null float64
Driver_Total_Teenager_Age_15_19_mean         330 non-null float64
Driver_Total_Licensed_In_State_mode_f        330 non-null int64
Driver_Total_mode_f                          330 non-null int64
Vehicle_Performance_High_count               330 non-null int64
Vehicle_Youthful_Driver_Indicator_Y_count    330 non-null int64
sys_renewed_n_0_count                        330 non-null int64
sys_renewed_n_1_count                        330 non-null int64
Driver_Total_Female_mode_f                   330 non-null int64
Vehicle_Symbol_mode_f                        330 non-null int64
Annual_premium_sum                           330 non-null float64
Vehicle_New_Cost_Amount_mean                 330 non-null float64
Vehicle_Age_In_Years_mean                    330 non-null float64
Loss_Amount_sum                              330 non-null float64
dtypes: float64(6), int64(9)
memory usage: 38.8 KB

In [180]:
#X_train = pd.read_csv('c:/Users/tv5ra/Downloads/final_x_train')
X_train=X1_train[['Vehicle_Age_In_Years_mean','Vehicle_New_Cost_Amount_mean','Vehicle_Performance_High_count','sys_renewed_n_1_count','Annual_premium_sum']]
y_train=X1_train[['Loss_Amount_sum']]
annual_prem=df_summarized[['annual_premium_sum']]
X_test = df_summarized

In [66]:
annual_prem.shape

(330, 1)

In [187]:
annual_prem=annual_prem.to_numpy()

In [181]:
X_train.shape

(330, 5)

In [182]:
X_test.shape

(660, 5)

In [183]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 12, random_state = 42)
# Train the model on training data
rf.fit(X_train, y_train)

# Use the forest's predict method on the test data
y_pred = rf.predict(X_test)
#print(sqrt(mean_squared_error(y_test, y_pred)))

In [146]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X_train, y_train)
y_pred1=reg.predict(X_test)

In [147]:
from math import sqrt
from sklearn.metrics import mean_squared_error

print(sqrt(mean_squared_error(y_pred1, y_pred)))

19003013.6145663

In [124]:
y_pred1.shape

(330, 1)

In [188]:
ln_ratio=[]
for i in range(330):
    ln_ratio.append(np.log(y_pred[i]/annual_prem[i]))

In [189]:
i=0
l_ratio=[]
for i in range(330):
    l_ratio.append(ln_ratio[i][0])
#l_ratio

In [190]:
df=pd.DataFrame(list(zip(summary,l_ratio)),columns=['ID','ln_LR'])

In [191]:
export_csv = df.to_csv (r'predictions9.csv', index = None, header=True)

In [159]:
df.head()

                       ID     ln_LR
0    test_portfolio_1.csv  2.867617
1   test_portfolio_10.csv  2.865573
2   test_portfolio_11.csv  2.910411
3  test_portfolio_111.csv  2.866329
4  test_portfolio_112.csv  2.849351